<h1>Assignment <%= assignment %> Grades</h1>

<table>
    <tr>
        <th>Graded By</th>
        <th>Graded For</th>
        <th>Late Day Count</th>
        <th>Grade</th>
        <th>Missing Required Tasks</th>
        <th>Evaluation Issues</th>
        <th>Extra Credit</th>
        <th>Other Comments</th>
    </tr>

    <% _.each(reports, function(report) { %>
    <tr>
        <td><%= report.gradedBySunetid %></td>
        <td><%= report.gradedForSunetid %></td>
        <td><%= report.lateDayCount %></td>
        <td><%= report.grade %></td>
        <td><pre><%= report.missingRequiredTasks %></pre></td>
        <td><pre><%= report.evaluation %></pre></td>
        <td><pre><%= report.extraCredit %></pre></td>
        <td><pre><%= report.otherComments %></pre></td>
    </tr>
    <% }); %>
</table>
